.footer{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.credito{
    float: right;
    font-size: 20px;
}

.links{
    float: left;
}

.links a{
    font-size: 20px;
    margin-right: 5px;
    color: black;
}

.vetor{
    height: 60px;
    width: 60px;
    margin-left: 50px;
    margin-right: 50px;
}